<button class="add-button" mat-raised-button color="primary" *ngIf='username'(click)="openDialog()">Add hall</button> 
<mat-grid-list [cols]="cols" [gutterSize]="gutter" [ngStyle]="{'margin': margin}" rowHeight="1:1">
  <mat-grid-tile *ngFor="let hall of halls">
    <app-hall-item
      [username]="username" 
      [hall]="hall"
      (deleteHall)="deleteHall(hall._id)"
      (deleteMovie)="deleteMovie($event)"
      (openUpdateDialog)="openUpdateDialog(hall._id)"
      (openAddMovieDialog)="openAddMovieDialog($event)"
      (addShowing)="addShowing($event)"
      >
    </app-hall-item>
  </mat-grid-tile>
</mat-grid-list>