<mat-expansion-panel [ngStyle]="{'margin': contentMargin}">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Movie Info
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-card [ngStyle]="{'padding': imagePadding}">
    <hr>
    <mat-card-header>
      <mat-card-title>
        {{movieInfo.title}}
      </mat-card-title>
    </mat-card-header>
    <hr>
    <img mat-card-image [src]="movieInfo.poster" alt="Movie Poster">
    <mat-card-content [ngStyle]="{'padding': imagePadding}">
      <p>
        {{movieInfo.description}}
      </p>
    </mat-card-content>
  </mat-card>

</mat-expansion-panel>




<mat-expansion-panel [ngStyle]="{'margin': contentMargin}">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Movie Schedule
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-card>
    <hr>
    <mat-card-header>
      <formly-form class="filter" *ngIf="dataSource && dataSource.data?.length!=0" [form]="form" [fields]="fields" [model]="filter" (keyup)="applyFilter()"></formly-form>
      <mat-card-title>
        {{movieInfo.title}} schedule
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <hr>


      <mat-table *ngIf="dataSource && dataSource.data?.length!=0" [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Hall</mat-header-cell>
          <mat-cell *matCellDef="let session"> {{session.name}}</mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="start">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Starts at</mat-header-cell>
          <mat-cell *matCellDef="let session"> {{session.taken_sessions.start | date:'MMM d, y, H:mm'}}</mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="end">
          <mat-header-cell *matHeaderCellDef>Ends at</mat-header-cell>
          <mat-cell *matCellDef="let session"> {{session.taken_sessions.end | date:'MMM d, y, H:mm'}}</mat-cell>
        </ng-container>
      
      
        <ng-container *ngIf="username" matColumnDef="Remove">
          <mat-header-cell *matHeaderCellDef>Remove</mat-header-cell>
          <mat-cell *matCellDef="let session"> 
            <button mat-raised-button color="warn" (click)="onDeleteFromHall(session.name, session.taken_sessions._id)">
              X
            </button>
        </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="username ? displayedColumnsOnLog: displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: username ? displayedColumnsOnLog: displayedColumns;"></mat-row>
      
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5,10,20]" showsFirstLastButtons></mat-paginator>

      <h2 *ngIf="dataSource && dataSource.data?.length==0" style="text-align: center; margin: 2rem 0;">
        No sessions planned !
      </h2>


    </mat-card-content>

  </mat-card>

</mat-expansion-panel>