mat-card {
  min-width: 200px; 
}

mat-card-header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; 
}

mat-header-cell, mat-cell {
  justify-content: space-around;
  text-align: center;
 }