<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened">
    <!-- Sidenav -->
    <ul style="list-style-type:none; margin-top: 2rem;">
    <li><a routerLink="/">Home</a></li>
    <li> <a routerLink="/halls">Halls</a></li>
    <li> <a routerLink="/movies">Halls</a></li>
   <li> <a routerLink="/about">About</a></li>
   <li> <span *ngIf='!username'><a routerLink="/login">Login</a></span></li>
   <li> <span *ngIf='!username'><a routerLink="/register">Register</a></span></li>
   <li><span *ngIf='username'><a (click)="Logout()">Logout</a></span></li>
  </ul>
  
  
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar class="navbar" color="primary">
  
      <mat-button-toggle *ngIf='mobile' (click)="opened=!opened"><mat-icon>menu</mat-icon></mat-button-toggle>
      
      <a routerLink="/" >Logo</a>
      <div *ngIf='!mobile'>
        <span><a routerLink="/">Home</a></span>
        <span><a routerLink="/halls">Halls</a></span>
        <span><a routerLink="/movies">Movies</a></span>
        <span><a routerLink="/about">About</a></span>
        <span *ngIf='!username'><a routerLink="/login">Login</a></span>
        <span *ngIf='!username'><a routerLink="/register">Register</a></span>
        <span *ngIf='username'><a (click)="Logout()">Logout</a></span>

      </div>  
    </mat-toolbar>
    <p *ngIf="username">Hello {{username}}</p>
    <p *ngIf="!username">You're not logged in</p>
    <p style="color: chartreuse;" *ngIf="msg"> {{msg.message}}</p>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
    

  </mat-sidenav-content>
  
</mat-sidenav-container>