<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened">
    <!-- Sidenav -->
    <ul style="list-style-type:none; margin-top: 2rem;">
    <li><a class="active" routerLink="/">Home</a></li>
    <li> <a class="active" routerLink="/halls">Halls</a></li>
    <li> <a class="active" routerLink="/movies">Movies</a></li>
   <li> <a class="active" routerLink="/about">About</a></li>
   <li> <a *ngIf='!username' class="active" routerLink="/login">Login</a></li>
   <li> <a *ngIf='!username' class="active" routerLink="/register">Register</a></li>
   <li> <a *ngIf='username' (click)="Logout()">Logout</a></li>
  </ul>
  
  
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar class="navbar" color="primary">
  
      <mat-button-toggle *ngIf='mobile' (click)="opened=!opened"><mat-icon>menu</mat-icon></mat-button-toggle>
      
      <a routerLink="/" >Logo</a>
      <div *ngIf='!mobile'>
        <span><a routerLink="/" class="active" >Home</a></span>
        <span><a routerLink="/halls" class="active" >Halls</a></span>
        <span><a routerLink="/movies" class="active" >Movies</a></span>
        <span><a routerLink="/about" class="active" >About</a></span>
        <button *ngIf='!username' mat-flat-button [matMenuTriggerFor]="appMenu"><mat-icon>login</mat-icon></button>
        <mat-menu #appMenu="matMenu">
          <a style="color: #111111; text-align: center;" mat-menu-item routerLink="/login">Login</a>
          <a style="color: #111111; text-align: center;" mat-menu-item routerLink="/register">Register</a>
        </mat-menu>
        <span *ngIf='username'><a (click)="Logout()" class="active" >Logout</a></span>

      </div>  
    </mat-toolbar>
    <p *ngIf="username">Hello {{username}}</p>
    <p *ngIf="!username">You're not logged in</p>
    <p style="color: chartreuse;" *ngIf="msg"> {{msg.message}}</p>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
    

  </mat-sidenav-content>
  
</mat-sidenav-container>