$form-padding: 3.5rem;

form {
  margin: 0;
  position: absolute;
  max-width: 30rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #111111;
  border-radius: 1rem;
  padding: $form-padding;
}

a {
  position:absolute; 
  right: 0; 
  margin: 0.5rem $form-padding;
}