<button class="close" mat-button (click)="onNoClick()">X</button>
<h2 mat-dialog-title>Add movie</h2>
<mat-dialog-content>
<form (ngSubmit)="onSubmit()" class="form">

 <mat-form-field appearance="outline">
    <input matInput [(ngModel)]="name" name="name" appearance="outline">
  </mat-form-field>

  <mat-form-field style="width: 100%;" appearance="outline">
    <mat-label>Add description</mat-label>
    <textarea matInput [(ngModel)]="description" name="description" maxlength="400" ></textarea>
  </mat-form-field>
  <div>
  <button mat-raised-button type="submit" color="primary">Submit </button>
</div>
</form>
</mat-dialog-content>