.select-hall {
  padding: 2rem;
  border: #111111 solid 2px;
  border-radius: 15px;
  margin: 1rem;
}

h3 {
  margin: 0 0 10px;
}

mat-header-cell, mat-cell {
  justify-content: space-around;
  text-align: center;
 }

table{
  width: 100%;
}
