<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Next
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Month
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Week
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Day
      </div>
    </div>
  </div>
</div>
<br />
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="eventClicked($event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="eventClicked($event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="eventClicked($event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>

<br>
<div class="row text-center select-hall">
  <div class="col-md-10 ">

    <h1>Select Hall </h1>
    <hr>
      <formly-form [form]="selectHallForm" [fields]="selectFields" [model]="selectedHall" ></formly-form>
    </div>
    <div class="col-md-2">
      <button style="top:50%" *ngIf="username" mat-raised-button color="primary" (click)=addShowingDialog()>Add Event</button>
    </div>
  
</div>

<mat-table [dataSource]="events" class="mat-elevation-z8">

  <ng-container matColumnDef="Hall">
    <mat-header-cell *matHeaderCellDef>Hall</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.meta.hall_name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Title">
    <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.title}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Primary">
    <mat-header-cell *matHeaderCellDef>Primary</mat-header-cell>
    <mat-cell *matCellDef="let element"> 
      <input
            type="color"
            [(ngModel)]="element.color!.primary"
            (change)="refresh.next()"
          />
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Secondary">
    <mat-header-cell *matHeaderCellDef>Secondary</mat-header-cell>
    <mat-cell *matCellDef="let element"> 
      <input
      type="color"
      [(ngModel)]="element.color!.secondary"
      (change)="refresh.next()"
    />
  </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Starts at">
    <mat-header-cell *matHeaderCellDef>Starts at</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.start | date:'MMM d, y, H:mm'}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Ends at">
    <mat-header-cell *matHeaderCellDef>Ends at</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.end | date:'MMM d, y, H:mm'}}</mat-cell>
  </ng-container>

  <ng-container *ngIf="username" matColumnDef="Remove">
    <mat-header-cell *matHeaderCellDef>Remove</mat-header-cell>
    <mat-cell *matCellDef="let element"> 
      <button mat-raised-button color="warn" (click)="deleteEvent(element)">
        X
      </button>
  </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="username ? displayedColumnsOnLog : displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: username ? displayedColumnsOnLog : displayedColumns;"></mat-row>

</mat-table>

<ng-template #modalContent let-close="close">
  
  <div class="modal-header">
    <h2 class="modal-title">{{modalData?.action}}</h2>
  </div>
  <div class="modal-body">
    <div [innerHTML]="modalData?.event"></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>